@media screen and (max-width: 767px)
{
     header 
    {
        position: sticky;
        top: 0;
        background-color: black;
        padding-block: 1px;
        z-index: 2;
        box-shadow:  0 1px 8px #888;
        
    }
    main hr 
    {
        max-width: none;
         border: none;
    }
    nav
   {
    height: 55px;
   }
    .nav-main
    {
      padding-top: 20px;
    }
    .nav-butt
    {
        padding: 2px 8px;
        border-radius: 4px;
    }
    .nav-in 
    {
        font-size: 14px;
    }
    #spe-butt
    {
        font-size: 12px;
    }
    .banner-img-main
    {
        justify-content: space-evenly;
    }
    .img-banner img
    {
        height: 180px;
    }
    .lines h1 
    {
        font-size: 1.7rem;
    }
    .big-box
    {
        flex-direction: column;
    }
    .gym-img
    {
        padding-top: 0;
        width: 100%;
    }
    .big-box-2
    {
        flex-direction: column;
    }
    .boxing-img
    {
        padding-top: 0;
        width: 100%;
    }
    .big-box-3
    {
        flex-direction: column;
    }
    .diet-img
    {
        padding-top: 0;
        width:100%;
    }
    footer 
   {
      height: 30vh;
   }
   .last
   {
     font-size: 1rem;
     padding-top: 10px;
     padding-bottom: 30px;
   }
}
@media screen and (max-width: 479px)
{
    .banner-image
    {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .main-start
    {
    padding-top: 2px;
    }
    .img-banner img 
    {
        height: 300px;
    }
   .lines h1 
   {
        font-size: 1.5rem;
   }
   .tag-2
   {
    font-size: 1.8rem;
   }
   .text-img p
   {
        font-size: 0.85rem;
   }
   .big-box
    {
        flex-direction: column;
        margin-inline: 0;
        border-radius: 0;
    }
    .gym-img
    {
        width: 100%;
    }
     .big-box-2
    {
        flex-direction: column;
        margin-inline: 0px;
        border-radius: 0px;
    }
    .boxing-img
    {
        width: 100%;
    }
    .big-box-3
    {
        flex-direction: column;
        margin-inline: 0px;
        border-radius: 0px;
    }
    .diet-img
    {
        width: 100%;
    }
    footer 
   {
     height: 45vh;
   }
   .last-footer
   {
    padding-top: 10px;
   }
   .last
   {
     font-size: 1rem;
   }
}